.signup-form__wrapper {
   @include df-full-c;
   flex-direction: column;
   gap: 20px;
   max-width: 20.625rem;
   text-align: center;
}

.signup-form {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 1.25rem;

   position: relative;

   &__link {
      @include link-hint;
   }
}
