.signin-form {
   @include form-style;

   &__links {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
   }
   &__link {
      @include link-hint;
   }

   &__fieldset {
      @include fieldset-style;

      @include staggered-fade-in;
   }
}
