.signin {
   &-article {
      @include article-form-style;
   }

   &-header {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 15px;

      &__title,
      &__description {
         line-height: 1.2;
      }
   }

   &__form {
      @include form-style;

      &-fieldset {
         @include fieldset-style;
         @include staggered-fade-in;
      }
   }

   &-footer {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      &__link {
         @include link-hint;
      }
   }
}
