.error-page {
   position: relative;

   @include df-full-c;

   width: 100%;
   height: 100dvh;
   overflow: hidden;

   &::before {
      content: "";

      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: url("../../../assets/images/error/error-bg.webp") no-repeat center/cover;
      filter: blur(3px);
      z-index: 1;
   }

   &__wrapper {
      @include df-full-c;
      flex-direction: column;
      gap: clamp(1.25rem, 1.092rem + 0.87vw, 1.875rem);
      padding: 2rem;
      border-radius: 1rem;

      @include glass-effect;

      position: relative;
      z-index: 2;
      margin: 0 15px;
   }

   &__title {
      color: $error-title-color;
      font-size: clamp(2rem, 1.748rem + 1.391vw, 3rem);
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      text-align: center;
   }

   &__subtitle {
      color: $error-subtitle-color;
      font-size: clamp(3rem, 2.748rem + 1.391vw, 4rem);
   }

   &__text {
      color: $error-text-color;
      font-size: 1.125rem;
      max-width: 40ch;
      text-align: center;
   }

   &__btn-lnk {
      @include df-full-c;
      gap: 0.625rem;
      background-color: $error-btn-color;
      color: #2b2b2b;
      font-weight: 600;
      padding: 0.75rem 1.5rem;
      border-radius: 8px;
      transition: 0.2s ease;

      &:hover {
         background-color: $error-btn-hover;
      }
   }
}
