.input-wrapper {
   max-width: 20.625rem;
   @include df-align-c;
   gap: 0.75rem;
   padding: 1rem 1.25rem;

   border: 1px solid $border-color;
   border-radius: 1.25rem;
   background-color: $white-color;
}

.input {
   width: 100%;
   font-family: "Work Sans", sans-serif;
   font-size: 1rem;
   font-weight: 500;
   color: $black-color;

   &::placeholder {
      color: $input-placeholder;
   }
}

// 💥 ВНЕ блока .input
.input__icon,
.input__toggle-icon {
   color: $input-icon-color;
   width: 20px;
   height: 20px;
}
