.signup {
   &-article {
      @include article-form-style;
   }

   &-header {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 15px;

      &__title,
      &__description {
         line-height: 1.2;
      }

      &__subtitle {
         display: block;
      }
   }

   &__form {
      @include form-style;

      &-subtitle {
         display: block;
         line-height: 1.4;
      }

      &-link {
         @include link-hint;
      }

      &-fieldset {
         @include fieldset-style;
         @include staggered-fade-in;
      }
   }
}
