.signin-form__wrapper {
   @include form-wrapper;
}

.signin-form {
   @include form-style;

   &__links {
      display: flex;
      flex-direction: column;
      gap: .625rem;
   }
   &__link {
      @include link-hint;
   }
}
