.reset-password {
   &__article {
      @include article-form-style;
   }

   &__header {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 15px;

      &-title,
      &-description {
         line-height: 1.2;
      }

   }

   &__form {
      @include form-style;


      &-fieldset {
         @include fieldset-style;
         @include staggered-fade-in;
      }
   }

   &__footer-link {
      @include link-hint;
   }
}


