body {
   color: $primary-color;

   font-family: "Work Sans", sans-serif;
   font-optical-sizing: auto;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1;

   background: $primary-bg;
}

h1,
h2,
h3,
h4,
h5 {
   font-weight: 600;
}

h1 {
   font-size: clamp(1.75rem, -1.297rem + 8.125vw, 4.188rem);
}

h2 {
   font-size: clamp(1.75rem, -0.047rem + 4.792vw, 3.188rem);
}

h3 {
   font-size: clamp(1.75rem, 0.969rem + 2.083vw, 2.375rem);
}

h4 {
   font-size: 1.75rem;
}

.server-error {
   color: $error-color;
   font-size: 1rem;
}
