@use "./_variables.scss" as *;
@use "sass:color";

@mixin df-full-c {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin df-align-c {
   display: flex;
   align-items: center;
}

@mixin df-space-b {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

@mixin glass-effect {
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 16px;
   border: 1px solid rgba(255, 255, 255, 0.2);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

@mixin header-hover {
   transition: color 0.2s ease-in;

   &:hover {
      color: $active-hover-color;
   }

   &:active {
      transform: scale(0.98);
   }
}

@mixin link-hint {
   color: color.adjust($active-hover-color, $lightness: 20%);
   transition: color 0.2s ease-in;

   &:hover {
      color: color.adjust($active-hover-color, $lightness: 30%);
   }
}

@mixin form-style {
   @include df-full-c;
   flex-direction: column;
   gap: 25px;
   width: 100%;
   max-width: 31.25rem;
   text-align: center;
   padding: clamp(0.938rem, 0.67rem + 1.478vw, 2rem);
   margin: 0 15px;
   border-radius: 1rem;
   @include glass-effect;
}

@mixin fieldset-style {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 1.25rem;

   position: relative;
}

@mixin fieldset-disabled {
   pointer-events: none;
   opacity: 0.6;
   user-select: none;
}

@mixin staggered-fade-in($count: 10, $duration: 0.6s, $delay-step: 0.2s) {
   > * {
      opacity: 0;
      animation: fadeInUp $duration ease forwards;
   }

   @for $i from 1 through $count {
      > *:nth-child(#{$i}) {
         animation-delay: $delay-step * $i;
      }
   }
}

@keyframes fadeInUp {
   from {
      opacity: 0;
      transform: translateY(20px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

@mixin user-account-info {
   &__form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 1.5625rem;
      border-bottom: 0.0625rem solid $border-color;
      margin-bottom: 20px;
   }

   &__heading-wrapper {
      @include df-space-b;
   }

   &__heading {
      font-size: clamp(1.188rem, 0.857rem + 1.826vw, 2.5rem);
   }

   &__edit-btn {
      @include df-align-c;
      gap: 10px;
      font-size: 1rem;
      color: $border-color;
      transition: all 0.2s ease;
      &:hover {
         color: $warning-color;
      }
      &--active {
         color: $success-color;
      }
   }

   &__fieldset {
      display: flex;
      flex-direction: column;
      gap: 20px;

      & > input {
         display: flex;
         flex: 1 1 190px;
      }
   }
   &__save-btn {
      display: none;
      transition: opacity 0.2s ease;
      transition: background 0.2s ease;
      &--active {
         display: flex;
      }
   }
}
