
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
$success-color: #28a745;
$warning-color: #ffc107;
$error-color: #dc3545;

$error-title-color: #ffffff;
$error-subtitle-color: #ff5555;
$error-text-color: #f8d7da;
$error-btn-color: #ffb347;
$error-btn-hover: #ffa534;
