

// Light theme
$title-color: #2b2b2b;              // Основной заголовок (тёмно-серый)
$text-color: #2b2b2b;               // Основной текст
$btn-bg: #eda85c;                   // Кнопка (тёплый оранжевый)
$btn-border: #eda85c;               // Граница кнопки

$main-bg: #fffaf5;                  // Основной фон (очень светлый теплый белый)
$card-bg: #f2e3c6;                  // Фон карточек (цвет страниц книги)
$caption-text: #7d6b4f;             // Подписи/мелкий текст (теплый коричневатый)

$placeholder-color: #c2b8a3;        // Плейсхолдеры (мягкий нейтральный)
$icon-color: #32495b;               // Иконки (тёмно-синий)

$input-focus: #c3762d;              // Фокус на инпуте (тёмный оранжевый)
$input-active: #eda85c;             // Активный инпут
$input-border: #c2b8a3;             // Граница инпута

$glass-bg: rgba(255, 255, 255, 0.6) backdrop-filter blur(20px); // Прозрачный фон для эффектов

$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08); // Мягкая тень
